.selectedPage {
  color: #27aae1 !important;
  font-weight: 700;
  background-color: #27aae1;
}
.pages {
  margin: 0 3px;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  background-color: #fafbfc;
  border: 1px solid #1b1f2326;
  transition: 0.2s;
  color: #333;
  border-radius: 6px;
  outline: none;
}
.pages:hover {
  cursor: pointer;
  text-decoration: underline;
}
.pagesBlock {
  text-align: center;
  margin-top: 20px;
}
.buttonPrev {
  margin-right: 5px;
}
.buttonNext {
  margin-left: 5px;
}
