.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.photo {
  background-color: #bbb;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 100%;
  /*box-shadow: 1px 1px 1px #000; /* x y radius color */
}
.photo img {
  width: 100%;
  border-radius: 100%;
}
.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
}
