.header {
  grid-area: h;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  color: #333;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
}
.brand {
  font-weight: 500;
  width: 100%;
}
.authBlock {
  display: flex;
  flex-direction: row;
}
.authBlock img {
  height: 25px;
  margin-left: 10px;
}
.authBlock img:hover {
  cursor: pointer;
}
.authBlock a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.loggedUser {
  display: flex;
  align-items: center;
}
