.header {
  grid-area: h;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  background-color: #1f4681;
  box-shadow: 0px 1px 15px 0px #33333333;
  font-family: "Roboto", sans-serif;
}
.brand {
  margin-left: 10px;
  font-weight: 500;
  color: #fff;
  width: 100%;
}
.authBlock {
  color: #fff;
  display: flex;
  align-items: center;
}
.loggedUser {
  display: flex;
  align-items: center;
}
.authBlock button {
  /* some code */
}
.authBlock a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.userPhoto {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  border-radius: 100%;
}
