.nav {
  grid-area: n;
  padding: 25px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  border-right: 1px solid #e6ecf5;
}
.item a:hover {
  color: #0f96f9;
}
.item:hover {
  color: #0f96f9;
  border-bottom: 1px solid #0f96f9;
}
.item {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px;
  margin-bottom: 16px;
  transition: 0.4s;
}
.item a {
  color: #333333;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  text-decoration: none;
  transition: 0.4s;
}
.item a.activeLink {
  color: #0f96f9;
}
