.description {
  padding: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.avatar {
  border-radius: 20px;
  height: 150px;
  position: relative;
}
.blockAvatar {
  height: 150px;
  width: 150px;
  margin-right: 20px;

  border-radius: 20px;
  box-shadow: 1px 1px 5px #000;
}
.contacts {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  font-size: 12px;
}
.contactItem a {
  color: #0f96f9;
  text-decoration: none;
}
.contactItem a:hover {
  text-decoration: underline;
}
#uploadPhoto {
  display: none;
}
.loadPhoto {
  position: absolute;
  opacity: 0;
  width: 150px;
  z-index: 1;
  background-color: #fff;
  padding: 30px;
}
.loadPhoto:hover {
  opacity: 0.3;
  cursor: pointer;
}
.buttonEdit {
  margin-top: 5px;
  position: absolute;
  top: 300px;
  left: 469px;
  opacity: 0;
}
.buttonEdit:hover {
  opacity: 1;
}
.status {
  cursor: pointer;
}
