/* Общий блок профиля */
.description {
  padding: 30px 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
}
.description input {
  outline: 0;
}

/* Блок аватара + загрузки фото */
.blockAvatar {
  position: relative;
  width: 250px;
}
.blockAvatar img {
  width: 100%;
  border-radius: 100%;
}
/* input для загрузки файла */
#uploadPhoto {
  display: none;
}
.loadPhoto {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  padding: 50px;
  z-index: 1;
  background-color: #000;
  border-radius: 100%;
}
.loadPhoto:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Блок с информацией */
.contacts {
  margin: 20px 0;
  font-size: 12px;
}
.contactItem a {
  color: #0f96f9;
  text-decoration: none;
}
.contactItem a:hover {
  text-decoration: underline;
}
.ownerStatus:hover {
  background-color: #e0e6f5;
  cursor: pointer;
}
.status {
  padding: 2px 0;
  margin-bottom: 10px;
  border-bottom: none;
}
.status input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #f6f7bb;
}
