* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/012.jpg);
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  padding: 5px 1em;
  background-color: #fafbfc;
  border: 1px solid #1b1f2326;
  transition: 0.2s;
  color: #333;
  border-radius: 6px;
  outline: none;
}
button:hover {
  background-color: #f1f4f7;
  cursor: pointer;
}
textarea {
  width: 100%;
  outline: none;
  resize: vertical;
  background-color: #fff;
  border: 1px solid silver;
  padding: 5px;
  min-height: 40px;
  font-family: "Roboto", sans-serif;
}
