.chatbox {
  padding: 25px;
  font-weight: 700;
  border-bottom: 1px solid #e6ecf5;
  color: #333333;
}
.dialogs {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas:
    "d m"
    "d f";
}
.dialogsItems {
  grid-area: d;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #e6ecf5;
}
.dialog a {
  text-decoration: none;
  color: #333333;
}
.dialog a:hover {
  text-decoration: underline;
}
.dialogsItems a.active {
  color: #0f96f9;
}
.dialog {
  display: block;
  border-bottom: 1px solid #e6ecf5;
  padding: 25px;
}
.dialogAvatar {
  display: flex;
  align-items: center;
}
.dialogAvatar img {
  border-radius: 100%;
  width: 30px;
  margin-right: 10px;
}
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

.messages {
  grid-area: m;
  padding: 15px;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.message {
  display: flex;
  align-items: center;
  border: 1px solid #e6ecf5;
  /*color: #888da8;*/
  font-size: 12px;
  margin-bottom: 5px;
  padding: 5px;
}
.message img {
  border-radius: 100%;
  width: 30px;
  margin-right: 5px;
}
.textForm {
  display: flex;
  align-items: flex-start;
  padding: 10px 15px;
  width: 100%;
}
.buttonSend {
  margin-left: 10px;
}
.textArea {
  background-color: #fff;
  border: 1px solid silver;
  padding: 5px;
  min-height: 25px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
