.item {
  color: #333;
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e6ecf5;
}
.item img {
  width: 50px;
  border-radius: 100%;
}
.message {
  width: 100%;
  padding: 0 20px;
}
.likes {
  width: 50px;
  display: flex;
  font-weight: 700;
  justify-content: flex-end;
}
.likes:hover {
  cursor: pointer;
  color: #0f96f9;
}
.heart {
  color: #dd0000;
}
